.array-container {
  position: absolute;
  left: 30px;
}

.array-bar {
  width: 2px;
  background-color: turquoise;
  display: inline-block;
  margin: 0 1px;
}

button {
  margin: 10px 5px;
  padding: 10px 20px;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
}

.generate {
  background-color: dodgerblue;
}

.mergeSort {
  background-color: lavender;
  color: black;
}
